.app-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.app-container > div {
  flex-basis: 40%;
}

.startBtn {
  width: 25%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 100;
  padding: 10px;
  background-color: #02AD13;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  margin: 0 37.5%;
}

.startBtn:hover {
  background: #3AD044;
  text-decoration: none;
}
